#container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background-color: #000013; 
   text-align: justify;
   line-height: 30px;
  
  
   
}
#container a{
   text-decoration: none;
   color: #ceceeb;
}
#container a:hover{
   color: white;
   text-shadow: 1px 1px 30px white;
}
h1{
  text-align: center;
  background-color: rgb(0, 0, 19);
  color: white; 
}
#container .left,
#container .right{
   width: 450px;
   height: 350px;
   padding: 20px;
   color: white;
   background-color: #010116;    
   margin: 10px;
   text-align: justify;
   font-family: Arial, sans-serif;
   box-shadow: 1px 1px 50px #080841;
   margin: 20px;
   
}


#container p {
   padding: 5% 0px;
}
/* @media screen and (max-width:852px){
   #container .right,
   #container .left
   {
     padding-top: -10px;
   }
} */
@media screen and (max-width:510px){
   
  #container .left p{
         font-size: 3vw;
         word-spacing: 0.5px;
   }
#container .left,
#container .right{
   height:455px ;
   
}
}
@media screen and (max-width:380px){
   
   #container .left p{
          line-height: 2.25;
    }
   }